
.img-container {
  background-image: url("../images/champsbar2bw1440p.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;

}

h1 {
  color: yellow;
}
